@page "/"
@using Examples.Models
@using GridComponent

<PageTitle>HalfbitGrid Demo</PageTitle>

@if (GridData != null)
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1>Basic Example</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <HalfbitGrid Items="GridData.Content" PageSize="pageSize" PagesTotalCount="numberOfPages" DisplayFilters="true"
                             OnPageChanged="OnPageChanged" OnSort="OnGridSort"
                             OnFilter="OnGridFilter" CurrentPage="@currPage">
                    <GridColumns>
                        <GridColumn GridItem="SampleData" Title="Id">
                            <RowTemplate>@context.Id</RowTemplate>
                        </GridColumn>
                        <GridColumnText GridItem="SampleData" Title="Nazwa" Field="Name">
                            <RowTemplate>@context.Name</RowTemplate>
                        </GridColumnText>
                    </GridColumns>
                    <GridFooter>
                        <PaginationControl CurrentPage="@(GridData.Page + 1)" PagesCount="@numberOfPages"
                                           TotalRecords="@GridData.TotalCount"></PaginationControl>
                    </GridFooter>
                </HalfbitGrid>
            </div>
        </div>
    </div>

}